*{
    background-color: white;
}

.projects{
    color: black;
}

.button-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(2, 83, 2);
}

.navbar-collapse{
    
}